*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
}

.hamburger-menu{
    display: none;
}

#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.logo{
    width: 3%;
    padding: 5px 30px;
}

.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    background-color: white;
    animation: moveHeaderToTop 1.5s 1;
}

.nav-list{
    display:flex;
    list-style: none;
}

.nav-list_link{
    text-decoration: none;
    padding: 5px 10px;
    text-transform:uppercase;
    color: cadetblue;
    font-family: 'Krona One', sans-serif;  
    font-size: 14px;
}


.nav-list_link:visited{
    color:cadetblue;
}

.nav-list_link:hover{
    animation: linkAnimateHeader 1s infinite;
}

.team-photo{
    width: 100%;
    animation: changingPhotoSize 1.5s 1;
}

.history-head, .last-match_head{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.history-item{
    display: flex;
    flex-direction: row;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    background: rgba(95, 158, 160, 0.062);
}

.history-img{
    padding:0 40px 10px 40px;
    width: 70%;
}

.last-match{
   display: flex;
   justify-content: center;
   align-items: center;
}

.last-match_team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
}

.last-match_score{
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
}

.last-match_img{
    width: 300px;
}


.footer{
    background: rgba(0, 0, 0, 0.932);
}

.footer-link{
    text-decoration: none;
    padding: 5px 20px;
    text-transform:uppercase;
    color: white;
    font-size: 12px;
    font-family: 'Krona One', sans-serif;
}

.footer-link:visited{
    color:white;
}

.footer-link:hover{
    color:gray;
    animation: linkAnimateFooter 1.5s 1;
}

.footer-nav{
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    width: 250px;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .news-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
  }
  
  .news-item{
    width: 250px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Krona One', sans-serif;  
    height: 400px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 12px;
  }

  .news-item:hover{
      overflow: scroll;
  }

  .news-head{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
  }

  .news-item_head{
      text-align: center;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
  }

  .news-item_content{
      text-align: justify;
  }
  
  .news-item_date{
      text-align: right;
      color: gray;
      font-size: 8px;
  }

  .news-item_img{
      width: 250px;
  }

  @keyframes moveHeaderToTop{
    from{
        margin-top: 500px;
    }
    to{
        margin-top: 0;
    }
  }

  @keyframes changingPhotoSize{
    from{
        width: 25%;
    }
    to{
        width: 100%;
    }
  }

  @keyframes linkAnimateFooter{
      from{
        transform: rotate(90deg);
      }
      to{
        transform: rotate(180deg);
      }
  }

  @keyframes linkAnimateHeader{
    from{
      color:cadetblue;
    }
    to{
     color: rgba(95, 158, 160, 0.096);
    }
}

@media screen and (max-width: 1024px){
    .history-item{
        flex-direction: column;
    }

    .history-img{
        width: 85%;
        order: 1;
    }
}

@media screen and (max-width: 768px){
    .hamburger-menu{
        display: block;
        margin-bottom: 50px;
    }

    .dropdown-content{
        width: 100px;
        font-size: 14px;
    }

    .nav-list{
        display: none;
    }

    .logo{
        width: 7%;
    }

    .last-match_img{
        width: 150px;
    }

    .footer-link{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 575px){
    .footer-nav{
        flex-direction: column;
    }

    .last-match_score{
        font-size: 25px;
    }

    .last-match_img{
        width: 100px;
    }
}

@media screen and (max-width: 320px){
    .last-match_img{
        width: 75px;
    }

    
    .history-img{
        width: 75%;
        order: 1;
    }
}