@import "/style/header.css";
@import "/style/footer.css";

.news-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
  }
  
  .news-item{
    width: 250px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Krona One', sans-serif;  
    height: 400px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 12px;
  }

  .news-item:hover{
      overflow: scroll;
  }

  .news-head{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
  }

  .news-item_head{
      text-align: center;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
  }

  .news-item_content{
      text-align: justify;
  }
  
  .news-item_date{
      text-align: right;
      color: gray;
      font-size: 8px;
  }

  .news-item_img{
      width: 250px;
  }